{% load static %}
<!DOCTYPE 5 >
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "register-form.css" %}">
    <title>Запись на обслуживание</title>
</head>
<body>
<div>
    <form  method="post" class="ui-form">
        {% csrf_token %}
        <h3>Запись на диагностику</h3>

        {% if messages %}
            {% for message in messages %}
                <div class="form-message">{{ message }}</div>
            {% endfor %}
        {% endif %}

        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <div class="form-error">{{ error }}</div>
            {% endfor %}
        {% endif %}

        {% for field in form %}
            <div class="form-field">
                <div class="form-error">{{ field.errors }}</div>
                {{ field.label_tag }}{{ field }}
            </div>
        {% endfor %}
        <div class="submit-block">
            <div class="submit-button">
                <input type="submit" value="Записаться"/>
            </div>
        </div>
    </form>
</div>
</body>
</html>